# EditorConfig is awesome: https://EditorConfig.org
# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# git
[*.gitconfig*]
indent_style = space
indent_size = 4

# Java
[*.{java}]
indent_style = space
indent_size = 4

# JavaScript (note override below)
[*.js]
charset = utf-8
indent_style = space
indent_size = 4

# Lua
[*.lua]
indent_style = space
indent_size = 2  # http://lua-users.org/wiki/LuaStyleGuide

# Markdown
[*.md]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false

# Perl
[*.pl]
indent_style = space
indent_size = 4 # https://perldoc.perl.org/perlstyle

# Python
[*.py]
charset = utf-8
indent_style = space
indent_size = 4

# Tom's Obvious Minimal Language
[*.toml]
indent_style = space
indent_size = 2

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# direnv - does direnv-mode work better?
[.envrc]
#file_type_emacs = sh
#file_type_ext = .sh

# Indentation override for all JS under lib directory
[lib/**.js]
indent_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

# Tiddlywiki
[tiddlywiki.info]
indent_style = space
indent_size = 2

# Caddy
[{Caddyfile,Caddyfile.*}]
# `caddy fmt` uses tabs as does gofmt; but 2?
indent_style = tab
indent_size = 2
