# ~/.gitconfig                                                 -*- Gitconfig -*-

[include]
    path = ~/.gituser

# Whether this repo is in my main CM collection
[includeIf "gitdir:/Volumes/CM/"]
    path = .gitconfig-macos
# or my home directory
[includeIf "gitdir:/Users/"]
    path = .gitconfig-macos
# or my typical Linix setup
[includeIf "gitdir:~/CM/"]
    path = .gitconfig-Linux
# or on NAS
[includeIf "gitdir:/volume1/Repos"]
    path = gitconfig-synology

[init]
    defaultBranch = main

[branch]
    autoSetupRebase = always

[commit]
    verbose = true              # whole commit diff in message
[fetch]
    prune = true
    pruneTags = true

[diff]
    mnemonicprefix = true # index, work tree, commit, object instead of a,b
    algorithm = histogram # better visualization of diffs

[difftool]
    # Clean up backup files created on tool exit
    keepBackup = false
    # Clean up temp files created on tool exit
    keepTemporaries = false
    # Put the temp files in a dedicated dir anyway
    writeToTemp = true
    # Auto-accept file prompts when launching
    prompt = true

[merge]
    verbosity = 0
    stat = true # always show diffstat at end of merge
    ff = only # no extra commit when merging
    conflictstyle = zdiff3  # provide extra context info
[mergetool]
    # Clean up backup files created by merge tools on tool exit
    keepBackup = false
    # Clean up temp files created by merge tools on tool exit
    keepTemporaries = false
    # Put the temp files in a dedicated dir anyway
    writeToTemp = true
    # Auto-accept file prompts when launching merge tools
    prompt = true

[pull]
    rebase = true # like git pull --rebase every time you git pull
    ff = only     # refuse to create a merge commit 
    # was rebase = merges
[rebase]
    autoStash = true
    autoSquash = true
    updateRefs = true
[push]
    default = current
    autoSetupRemote = true
    useForceIfIncludes = true
[core]
    excludesfile = ~/.gitignore_global
    whitespace = trailing-space,space-before-tab
    safecrlf = warn
    autocrlf = input
    #autocrlf - doesn't work the way you think, safecrlf seems to be better
[pager]
    branch = false
[color]
    ui = auto

# Enable  Reuse Recorded Resolution
[rerere]
    enabled = true
    autoupdate = true

# Externalize the growing number of aliases
[include]
    path = ~/CM/dotfiles/git-aliases
