# .gitignore for dotfiles
# auto downloaded files
git-completion-v*.*
# Ancient stuff
XResources/*[^\.]
# Maven
settings.xml
archetype-catalog.xml
.m2/repository
.m2/wrapper
# Zsh updated
.zsh_history
zsh/examples/
zsh/.zcompdump
zsh/.zsh_sessions
